/*  Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  font-family: "freight-text-pro", georgia, serif;
  background: #102F53;
  color: #fff;
}

strong {
  font-weight: bold;
}

em {
  font-weight: bold;
  font-style: italic;
}

a {
  color: #709EF1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #A0A0A0;
  margin-bottom: -15px;
  margin-top: 30px;
}

h2 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 8px;
}

p {
  color: #524D4D;
  margin-bottom: 10px;
}

.sidebar {
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 340px;
}

.logo {
  font-size: 20px;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 50px;
  margin-bottom: 36px;
}

.logo img {
  clear: both;
  width: 121px;
}

.siteTitle {
  font-size: 20px;
  color: #FFF;
}

.attribution {
  background: #102F53;
  padding: 10px;
  color: #C7C7C7;
  text-align: center;
}

.attribution img {
  width: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.betawarning {
  color: #534A38;
  background: #FFF1D7;
  line-height: 32px;
  padding: 30px 43px;
  margin-bottom: 14px;
  margin: -5px -40px;
}

.tip {
  font-size: 20px;
  line-height: 32px;
  margin-top: 10px;
  color: #535353;
}

.nav {
  margin-top: 20px;
  font-size: 16px;
}

.nav a {
  padding: 0 4px;
}

.nav a.active {
  color: white;
}

.nav2 {
  margin-top: 20px;
  font-size: 18px;
}

.nav2 a {
  padding: 0 4px;
  color: red;
}

.nav2 a.active {
  color: red;
}

.dot {
  color: #5D7299;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.contentContainer {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  max-width: 700px;
  margin-left: 340px;
  background: #fff;
  color: black;
}

.contentContainer img {
  max-width: 100%;
}

.contentContainer a {
  color: #4379DB;
  border-bottom: 1px dotted #658EDA;
}

.contentContainer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #658EDA;
}

.mast {
  background-size: cover;
  /* IE8 polyfill */
  -ms-behavior: url(/backgroundsize.min.htc);
  height: 275px;
  width: 100%;
}

.content {
  padding: 20px 40px;
  padding-top: 5px;
}


.contact {
  position: fixed;
  z-index: 11;
  left: 0;
  bottom: 30px;
  width: 340px;
  text-align: center;
  background: #102F53;
}

.phone {
  margin-bottom: 8px;
}

.email {
  margin-bottom: 25px;
  font-size: 16px;
}

.address {
  line-height: 22px;
  color: #B8ADAD;
}

.address a {
  color: #B8ADAD;
}

.address a:hover {
  text-decoration: underline;
}

.hours {
  color: #B8ADAD;
  line-height: 22px;
}

.newsDate {
  font-size: 20px;
  color: #838282;
  margin-top: 30px;
}

.contentContainer ul {
  margin-bottom: 20px;
}

.lookup {
  margin-top: 15px;
}

.lookup .lookupInput {
  font-size: 24px;
  font-family: "freight-text-pro", georgia, serif;
  line-height: 32px;
  padding: 4px 8px;
  width: 300px;
}

.lookup .lookupButton {
  background-color: #504949;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #473939;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "freight-text-pro", georgia, serif;
  font-size: 18px;
  padding: 9px 34px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #473939;
  position: relative;
  top: -2px;
  left: 3px;
}

.lookupButton:hover {
  background-color:#695c5c;
}

.lookupButton:active {
  position:relative;
  top:1px;
}

#results {
  padding-top: 15px;
}

.resultsMessage {
  padding-bottom: 15px;
}

.case {
  padding-bottom: 15px;
}

.citation {
  color: #858585;
}

.defendant {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

        

@media only screen and (max-width : 768px) {
/* Styles */

  .sidebar {
    position: static;
    width: 100%;
    padding-bottom: 40px;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 20px;
}    

  .logo img {
    margin-top: 20px;
    font-size: 18px;
    width: 60px;
  }

  .contentContainer {
    font-size: 16px;
    padding-top: 0px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0;
    max-width: 100%;
  }

  .mast {
    display: none;
  }

  h1 {
    font-size: 20px;
    line-height: 36px;
    margin-top: 20px;
  }

  .newsDate {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: -20px;
  }

  .contact {
    position: static;
    width: 100%;
    padding: 20px;
  }

  .lookup .lookupInput {
    width: 100%;
  }

  .lookup .lookupButton {
    margin-top: 10px;
  }
}
